Test document-1.docx
Test document-10.docx
Test document-2.docx
Test document-3.docx
Test document-4.docx
Test document-5.docx
Test document-6.docx
Test document-7.docx
Test document-8.docx
Test document-9.docx
Test document.docx
Test document.odt
Test document.pdf
Test document.txt
core.10966
core.24022
core.24253
documentPickerDemo.pro.user.2.2pre5
main.o
moc_qmlapplicationviewer.cpp
moc_qmlapplicationviewer.o
qmlapplicationviewer.o
rrpmbuild/
sparql-video.in
sparql.in

